<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="logLocations" type="MultiTail.LogLocationSettings, MultiTail"></section>
  </configSections>

  <appSettings>
    <add key="username" value="\username"/>
    <add key="password" value="password"/>
  </appSettings>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <logLocations>

    <!-- Over network share -->
    <log>\\192.168.1.1\c$\example\Logs\*.log</log>
    <log>\\192.168.1.2\d$\another_example\Logs\*.log</log>

    <!-- Local Example -->
    <log>c:\logs\*.*</log>

    <!-- Specific File -->
    <log>c:\logs\thisfile.log</log>

  </logLocations>
  
</configuration>
